@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Roboto Mono", "Courier New", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  border: 1px solid rgba(255, 255, 255, 0.267);
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

li {
  list-style: none;
}

h1 {
  font-size: 1rem;
}

nav {
  grid-area: 1 / 1 / 3 / 2;
  background-color: rgb(136, 136, 136);
  padding: 2rem 0 0 1rem;
  height: 100vh;
}

.dashboard-logo,
.settings,
.personal {
  margin-bottom: 3rem;
}

nav li {
  margin-bottom: 1rem;
}

header {
  /*  grid-column-end: 2 / 3; */
  height: 10rem;
  background-color: rgb(218, 218, 218);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 1rem;
}

.top-header {
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.down-header {
  grid-area: 2 / 1 / 3 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.input-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

input {
  width: 100%;
  border-radius: 8px;
}

.me-info {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 10px
}

.greetings-header {
    display: flex;
    align-items: center;
    gap: 5px;
}

.greetings-header > svg {
    height: 24px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 15px;
}

button {
    border: 0;
    background-color: rgb(11, 138, 255);
    height: 2rem;
    width: 5rem;
    color: white;
    border-radius: 16px;
    font-weight: 600;
}

main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  background-color: rgb(110, 145, 177);
  padding: 1rem;
  gap: 1rem;
}

.project-container {
  grid-row: 1 / 2;
}

.project-subcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
}

.project-card,
.announcement-subcontainer,
.trending-subcontainer {
  border: 2px solid rgb(100, 100, 100);
}

.project-card {
    display: grid;

    grid-auto-rows: minmax(60px, 75%);
    padding: 1rem;
}

.user-actions,
li,
.dashboard-logo {
  display: flex;
}

.user-actions {
    justify-self: end;
    align-self: end;
    gap: 10px
}

/* .announcements-container {
    grid-row: 1 / 2;
}

.trending-container {
    grid-row: 2 / 3;
} */

.side-supacontainer {
  /* grid-column: 2 / 3; */
  display: grid;
  gap: 30px;
}

/* .announcements-container {
    grid-row: 1 / 2;
}

.trending-container {
    grid-row: 2 / 3;
} */
